body{
background-color: black;
color: white;
font-size: 20px;
}


header{
    text-align: center;
}

#my-photo{
    border-radius: 64px;
    width: 125px;
    height: 125px;
}

table{
    text-align: center;
    font-size: 20px;
    border-color: white;
}

td{
    padding: 10px 10px 10px 10px;
}

table th{
    background-color: orangered;
    width: 300px;
}

ol > li{
    color: goldenrod;
    font-size: 24px;
}

li{
    
    padding: 5px 5px 5px 5px;
}
